@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
}
#body_especial{
    background-image: linear-gradient(to right, #0061ff, #60efff);
}
#main{
    background-color: rgb(224, 224, 224);
    border-radius: 15px;
    width: 850px;
    height: 1250px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.p-text{
    padding: 20px 20px 7px 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.title{
    font-family: 'Oxygen', sans-serif;
    padding-top: 3px;
    padding-left: 30px;
}
.ul-text{
    padding-left: 35px;
}
.p-text2{
    padding-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
}
.link{
    text-decoration: none;
    color: rgb(0, 119, 255);
}
.link:hover{
    text-decoration: underline;
    color: rgb(0, 119, 255);
}
#forms{
    background-color: rgb(224, 224, 224);
    border-radius: 15px;
    width: 85%;
    height: 600px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}
.in-forms{
    background-color: #fff;
    border: solid #0061ff 2px;
    width: 400px;
    height: 22px;
}
label{
    font-family: 'Poppins', sans-serif;
    color: #0061ff;
}
table{
    margin-left: 280px;
}
.td1{
    width: 100px;
}
tr{
    height: 100px;
}
textarea{
    border: solid #0061ff 2px;
}
#td-button{
    margin-left: 300px;
    width: 110px;
}
#button{
    cursor: pointer;
    width: 100px;
    border: solid #0061ff 1px;
    color: #0061ff;
}